@model IEnumerable<WordsTranslater.Domain.ViewModel.WordViewModel>


<h1>Таблица <Слова></h1>
<h6>Кол-во записей в таблице : @Model.Count()</h6>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-12 text-end">
            <a asp-controller="Word" asp-action="Create" class="btn btn-primary">
               <i class="bi bi-plus-circle"></i> &nbsp; Добавить слово
            </a>
        </div>
    </div>
    <br /><br />

    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    Оригинал
                </th>
                <th>
                    Перевод 
                </th>
                <th>
                    Действие
                </th>
            </tr>
        </thead>
        <tbody>
                @foreach (var word in Model)
                {
                        <tr>
                            <td width:auto>
                            @word.SrcWord
                            </td>
                            <td width:auto>
                            @word.DstWord
                            </td>
                           <td width = "20%">
                                <div class="w-75 btn-group" role="group">
                                    <a asp-controller="Word" asp-action="Edit" asp-route-id="@word.WordId"
                            class="btn btn-primary mx-2"> <i class="bi bi-pencil-square"></i>Редактировать</a>
                                <a asp-controller="Word" asp-action="Delete" asp-route-id="@word.WordId"
                            class="btn btn-danger mx-2"> <i class="bi bi-trash-fill"></i> Удалить</a>
                                </div>
                            </td>
                        </tr>
                }
        </tbody>
    </table>
</div>
 